[defaults]
host_key_checking = False
roles_path = roles/
collections_paths = collections/
force_valid_group_names = never
library = roles/modules-oracle-db:roles/modules-oci:roles/modules-omc:roles/modules-tower:~/.ansible/plugins/modules:/usr/share/ansible/plugins/modules
